<table id="header">
  <tr id="page-title">
    <td rowspan=2 id="logo">
    </td>
    <td class="title"><h1>Rate ALL the things!</h1></td>
  </tr>
  <tr>
    <td id="main-nav">
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
    </td>
  </tr>
</table>
